version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: api-gateway-redis
    ports:
      - "6379:6379"

  gateway:
    build:
      context: ..
      dockerfile: gateway/Dockerfile
    container_name: api-privacy-gateway
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0
